body {
  background-color: powderblue;
}

table, th, td {
  border: 0.1px solid black;
}

img {
  padding: 8px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family:Times;
  text-align:center;
}

header {
  background-color: dodgerblue;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: black;
  font-family: Courier;
}
