body {
  background-color: powderblue;
}

table, th, td {
  border: 0.1px solid black;
}

table {
  border-collapse: collapse;

}
img {
  padding: 8px;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-family:Times;
  text-align:center;
}

header {
  background-color: dodgerblue;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  color: black;
}

#FF {
  background-color: dodgerblue;
  padding: 10px;
}

#H {
  background-color: dodgerblue;
  padding: 10px;
}

#SD {
  background-color: dodgerblue;
  padding: 10px;
}

#A {
  background-color: dodgerblue;
  padding: 10px;
}

#Q {
  background-color: dodgerblue;
  padding: 10px;
}

a:link {
  color:purple;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

blockquote {
  height: 60px;
  width: 800px;
  background-color:white;
  margin-left: 220px;
  font-family: Times;
}

img {
  border: 1px solid black;
  background-color: white;
}

ul {
  list-style-type: square;
}

.courier {
  font-family: courier;
}
